.section-gap {
    padding-top: 64px;
    padding-bottom: 64px;
}
.gap {
    margin-bottom: 40px;
}
.common-line-gap {
    margin-bottom: 16px;
}
.blog-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 254px;
    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #b5b6c2;
}

.blog-category {
    width: 96px;
    height: 28px;
    background-color: #f9f0f0;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    border-radius: 219px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.blog-category p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #e63f3f;
}

/******************** Popular Blog Part Start  ********************/
.popular-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #b5b6c2;
}
.divider-box {
    position: relative;
}
.divider {
    position: absolute;
    top: 0;
    border: 2px solid #e53f3f;
    border-radius: 2px;
    width: 50%;
}
.divider-highlight {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
}
.popular-blog-card {
    display: flex;
    margin-bottom: 40px;
}
.popular-blog-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5c5d78;
}
.popular-blog-image {
    border-radius: 10px;
    width: 150px;
    height: 120px;
    object-fit: cover;
}
.popular-blog-image img {
    object-fit: cover;
}
.popular-blog-status {
    margin-top: 40px;
}
.popular-blog-body {
    padding: 0px 20px 0px 20px;
}
.popular-blog-status {
    margin-top: 40px;
}
/******************** Popular Blog Part End  ********************/


/******************** News of the Day Part Start  ********************/
.news-card {
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 20px;
    margin-right: 48px;
    max-width: 388px;
}
.news-body {
    padding: 20px;
}
.news-image {
    width: 100%;
    height: auto;
}
.news-body-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5c5d78;
    margin-top: 40px;
    margin-bottom: 10px;
}
.news-body-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(92, 93, 120, 0.6);
}
.slider {
    margin: 0px auto;
}
/******************** News of the Day Part End  ********************/

/******************** Single Blog Card Start ********************/
.single-blog-card {
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
}
.single-blog-image {
    margin-bottom: 64px;
}
.single-blog-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5c5d78;
    margin-top: 16px;
    margin-bottom: 16px;
}
.single-blog-details {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #b5b6c2;
}
/******************** Single Blog Card End ********************/

/******************** Popular Categories Start  ********************/
.news-card {
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 20px;
    margin-right: 48px;
    max-width: 388px;
}
.news-body {
    padding: 20px;
}
.news-image {
    width: 100%;
    height: auto;
}
.news-body-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5c5d78;
    margin-top: 40px;
    margin-bottom: 10px;
}
.news-body-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(92, 93, 120, 0.6);
}
.slider {
    margin: 0px auto;
}

.slider-image img{
    width: 100%;
}
.slider-image:nth-child(1) img{
    margin-bottom:24px;
}
.popular-categories-slider .slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.popular-categories-slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.popular-categories-slider .slick-dots li button {
    display: none;
}
.popular-categories-slider .slick-dots li:before {
    transition: all 0.5s;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #C4C4C4;
    position: absolute;
}
.popular-categories-slider .slick-dots li.slick-active:before {
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #FF0000;
}

/******************** Popular Categories End  ********************/

/********************  Media Queries Start  ********************/
@media screen and (max-width: 1400px) {
    .latest-blog-details {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .latest-blog-status {
        margin-top: 32px;
    }
    .popular-blog-image {
        width: 130px;
        height: 90px;
        border-radius: 10px;
    }
    .time-to-read {
        display: none;
    }
    .popular-blog-status {
        margin-top: 20px;
    }
    .popular-blog-title {
        line-height: 18px;
    }
}
@media screen and (max-width: 1200px) {
    .latest-blog-status {
        margin-top: 24px;
    }
}
@media screen and (max-width: 991px) {
    .header-content h3 {
        font-size: 40px;
    }
    .header-content p {
        font-size: 18px;
    }
    .latest-blog-card {
        flex-direction: column;
        box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        margin-bottom: 32px;
    }
    .latest-blog-image img {
        height: 300px;
        width: 100%;
    }
    .latest-blog-status {
        margin-top: 40px;
    }
    .trending-review {
        flex-direction: row;
    }
    .focus .trending-review-details {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 18;
        line-clamp: 18;
        -webkit-box-orient: vertical;
    }
    .news-card {
        width: 300px;
        margin-right: 40px;
    }
    .news-body-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .single-blog-image {
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 767px) {
    .header-content h3 {
        font-size: 32px;
    }
    .blog-page-title {
        font-size: 40px;
        text-align: center;
    }
    .popular-section-title {
        font-size: 40px;
    }
    .trending-review-headline {
        font-size: 40px;
        text-align: center;
    }
    .latest-blog-card {
        margin-bottom: 24px;
    }
    .latest-blog-image img {
        height: 250px;
        width: 100%;
    }
    .latest-blog-status {
        margin-top: 32px;
    }
    .trending-review-image {
        height: 230px;
        object-fit: cover;
    }
    .trending-review-image img {
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .focus {
        margin-bottom: 24px;
    }
    .focus .trending-review-details {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .trending-review-details {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .popular-blog-image {
        border-radius: 10px;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .popular-blog-image img {
        border-radius: 10px;
    }
    .news-body-title {
        font-size: 14px;
        margin-top: 20px;
    }
    .news-card {
        margin-right: 32px;
    }
    .single-blog-image {
        margin-bottom: 32px;
    }
}
@media screen and (max-width: 479px) {
    .header {
        height: 400px;
        background-size: cover;
    }
    .header-content {
        padding-top: 120px;
        padding-bottom: 140px;
    }
    .header-content h3 {
        text-align: center;
        max-width: 324px;
        width: 100%;
    }
    .blog-page-title {
        font-size: 32px;
        text-align: center;
    }
    .popular-section-title {
        font-size: 32px;
    }
    .trending-review-headline {
        font-size: 32px;
        text-align: center;
    }
    .latest-blog-image img {
        height: 230px;
        width: 100%;
    }
    .latest-blog-status {
        margin-top: 16px;
    }
    .blog-category {
        margin-bottom: 10px;
    }
    .popular-blog-image {
        border-radius: 10px;
        width: 90px;
        height: 90px;
        object-fit: cover;
    }
    .popular-blog-image {
        border-radius: 10px;
        width: 90px;
        height: 90px;
        object-fit: cover;
    }
    .popular-blog-image img {
        border-radius: 10px;
    }
    .popular-blog-title {
        font-size: 14px;
        line-height: 18px;
    }
    .popular-blog-status {
        margin-top: 16px;
    }
    .popular-blog-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .news-card {
        margin-right: 24px;
    }
    .news-body-title {
        margin-top: 10px;
    }
    .single-blog-image {
        margin-bottom: 16px;
    }
}
@media only screen and (max-width: 991px) and (min-width: 767px) {
    .popular-blog-card {
        display: flex;
        flex-direction: column;
    }
    .popular-blog-image {
        width: 100%;
        height: 100px;
    }
    .popular-blog-image img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }
    .popular-blog-body {
        padding: 20px 0px 20px 0px;
        width: 100%;
    }
}
/********************  Media Queries End  ********************/
